@import "tailwindcss";

@theme {
  --color-bg-dark: #20293a;
  --color-bg-light: #f2f5f9;
  --color-text-light: #030616;
  --color-text-dark: #f2f5f9;
  --color-divider: #030616;
  --color-divider-inner: #4e80ee;
}

:root {
  --bg-dark: var(--color-bg-dark);
  --bg-light: var(--color-bg-light);
  --text-light: var(--color-text-light);
  --text-dark: var(--color-text-dark);
  --divider: var(--color-divider);
  --divider-inner: var(--color-divider-inner);
}

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url("/bg.png");
    background-color: #030616;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #f2f5f9;
    font-family: "Outfit", sans-serif;
    position: relative;
  }
}

@import "./styles/app.css";
@import "./styles/navigation.css";
@import "./styles/searchBar.css";
@import "./styles/temperatureUnits.css";

@import "./styles/dashboard.css";
@import "./styles/currentWeather.css";
@import "./styles/hourlyforecast.css";
@import "./styles/dayforecast.css";
@import "./styles/popularcities.css";
@import "./styles/modal.css";
